.table__list-arrow {
  display: none;
}

@media screen and (max-width: 420px) {
  .table__list-arrow{
    position: absolute;
    display: block;
    width: 15px;
    height: 2px;
    color: rgb(252, 176, 69);
    background: rgb(252, 176, 69);
    background: linear-gradient(
      90deg,
      rgba(252, 176, 69, 1) 34%,
      rgba(253, 29, 29, 1) 100%
    );
  }
  .table__list-arrow-first{
    top: 122px;
    left: -20px;
  }
  .table__list-arrow-second{
    top: 122px;
    left: 122px;
  }
  .table__list-arrow-third{
    top: 152px;
    left: -20px;
  }
  .table__list-arrow-fouth{
    top:152px;
    left: 122px;
  }
}
