.main__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 720px) {
  .main__items {
    max-width: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 420px) {
  .main__items{
        
  }
}