.footer__list-link {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #e4e5ea;
}
@media screen and (max-width:900px) {
    .footer__list-link{
        font-size: 14px;
       
    }
}