.socials{
    max-width: 308px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width:992px) {
    .socials{
        max-width: 200px;
    }
}


@media screen and (max-width:778px) {
    .socials{
        display: none;
    }
}