.footer {
  padding: 55px 0 20px 0;
  max-width: 1144px;
  margin: 69px auto 0 auto;
  /* max-width: 100%;
    width: 100%; */
  /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}

@media screen and (max-width: 720px) {
    .footer{
        margin: 40px auto 0 auto;
    }
}


@media screen and (max-width: 670px) {
    .footer{
        margin: 40px auto 0 auto;
    }
}
@media screen and (max-width: 420px) {
    .footer{
        margin: 0;
        padding: 45px 0 20px 0;
        background:#0E1014 ;
        background-color: #0E1014;
    }
}