.footer__menu{
    max-width: 408px;
    width: 100%;
}


@media screen and (max-width:900px) {
    .footer__menu{
        max-width: 290px;
        width: 100%;
    }
}

@media screen and (max-width: 670px) {
    .footer__menu{
        max-width: 90%;
    }
}
@media screen and (max-width: 420px) {
    .footer__menu{
        max-width: 95%;
    }
}