.red-ambient {
  position: absolute;
  width: 311px;
  height: 311px;
  left: 102px;
  top: 251px;

  background: #961a1a;
  opacity: 0.5;
  filter: blur(196px);
}
@media screen and (max-width:420px) {
  .red-ambient{
      display: none;
  }
}