.red-ball {
  position: absolute;
  width: 83px;
  height: 83px;
  /* left: 750px; */
  left: 39.5%;
  top: 83px;
  z-index: 1;
border-radius: 50%;
  background: radial-gradient(
      64% 64% at 27.25% 26.5%,
      rgba(255, 208, 208, 0.536) 0%,
      rgba(212, 93, 93, 0.264) 59.67%,
      rgba(167, 49, 49, 0.248) 78.59%,
      rgba(130, 25, 25, 0.248) 100%
    );
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  backdrop-filter: blur(2px);
}
@media screen and (max-width:420px) {
  .red-ball{
      display: none;
  }
}